.see-pricing-btn{
    width: 150px;
    padding: 10px;
    border: none;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(to right, #1AD5BC,#18D1C1,#0EBADB,#08AFE9 );
}

.header-txt{
    font-family: 'Yeseva One', cursive;
    font-size: 50px;
}