.nav-link{
    color: black!important;
    margin-right: 20px;
}
.contact-us-btn{
    width: 150px;
    padding: 10px;
    border: none;
    color: #fff;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(to right, #1AD5BC,#18D1C1,#0EBADB,#08AFE9 );
}