.logo{
    width: 125px;
}

.social-icon a img{
    width: 20px;
    margin: 0px 10px;
}

.link-text a, .contact p{
    color: rgb(73, 72, 72);
    font-family: sans-serif;;
    font-size: 20px;
    font-weight: 100px;;
}

.link-text a:hover{
    color: #505050;
    text-decoration: none;
}

.contact h1{
    color: #0d052e;
}

.contact-input{
    max-width: 600px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn {
    background-image: linear-gradient(to right, #1AD4BD , #0AB3E4);
    border: none;
    color: white;
}