.box{
    padding: 25px;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: .3s;
}
.box:hover{
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
}
.whatWeDo-container{
    h5{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
}