@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');
body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Yeseva One', cursive;
  color: #0D052E;
  font-size: 75px;
  line-height: .8;
}

h2 {
  font-family: 'Yeseva One', cursive;
  color: #0D052E;
  font-size: 35px;
  letter-spacing: -1px;
}

p {
  font-size: 14px;
  color: #8D8D8D;
}

h6 {
  font-size: 16px;
  color: #8D8D8D;
  font-weight: 300;