p{
    color: white;
}
.achievement-part{    
    background-color: #FAFFFD;
   
}
.achievement-text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.achievement-text small{
    font-size: 1rem;
}

.achievement-part2 h1 {
    font-weight: bold;
}
.part1{    
    border-top-right-radius: 55px;
    border-bottom-left-radius: 55px;
    padding: 15px 25px;
    color: #fff;        
    background: linear-gradient(to right, #1AD5BC,#18D1C1,#0EBADB,#08AFE9 );
    box-shadow: 5px 5px 10px #CEEDED;
}
.part2{
    border-bottom-right-radius: 55px;
    border-top-left-radius: 55px;    
    padding: 15px 25px;
    background-color: #fff;
    color: #707070;
    box-shadow: 5px 5px 10px #CEEDED;    
}
.part3{    
    border-bottom-right-radius: 55px;
    border-top-left-radius: 55px;    
    padding: 15px 25px;
    background-color: #fff;
    color: #707070;
    box-shadow: 5px 5px 10px #CEEDED;
}
.part4{    
    border-bottom-left-radius: 55px;
    border-top-right-radius: 55px;    
    padding: 15px 25px;
    background-color: #fff;
    color: #707070;
    box-shadow: 5px 5px 10px #CEEDED;
}
.img-part1{
    height: 50px;
    margin-bottom: 1.7rem;
}

