.running-button{
    width: 150px;
    padding: 10px;
    border: none;
    color: #fff;
    margin-top: 20px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background: linear-gradient(to right, #1AD5BC,#18D1C1,#0EBADB,#08AFE9 );
}
.running-project{
    margin-top: 100px;
    margin-left: 20px;
}